@model List<CatBreedModel>

@{
    ViewData["Title"] = "Breeds";
}

<h1>Breeds</h1>

<form asp-controller="Cat" asp-action="Breeds" method="get">
    <div class="form-group">
        <label for="breedId">Select a breed:</label>
        <select class="form-control" id="breedId" name="breedId">
            @foreach (var breed in Model)
            {
              <option value="@breed.Id" selected="@((breed.Id.ToString() == ViewBag.BreedId?.ToString()).ToString().ToLower())">@breed.Name</option>


            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
@if ( ViewBag.BreedId > 0)
{
    foreach(var cat in Model)
    {
        <h2>@cat.Name</h2>
        <p>@cat.Description</p>
    }

}
 @foreach(var cat in Model)
    {
        <h2>@cat.Name</h2>
        <p>@cat.Description</p>
    }